footer{
    background:#FFC627 ;
}

.login-center{
    margin-top: 12vw;
    margin-left: 10vw;
    text-align: center;
    vertical-align: middle;
    color: white;
}

h1{
    color: white;
}

.btn-login{
    background: #FFC627;
    width: 120px;
    height: 30px;
    color: white;
    border: transparent;
    border-radius: 10px ;
    transition: 0.5s;
}

.btn-login:hover{
    background: #878DFF;
    transition: 0.5s;
}



