.mySidenav{
    background: #6065ae;
    color: white; !important;
}

.nav-link-text{
    color: white;
}
.nav-link-text2{
    color: #6065ae;
}

.text-primary2{
    color: #FFC54D;
}

.user-name{
    font-size: 15px;
}

.user-role{
    font-size: 11px;
}

.user-status i {
    font-size: 8px;
    margin-right: 4px;
    color: #5cb85c;
}

.ini-mybut{
    background: #FFC54D;
    color: white;
    border-radius: 10px;
    border: transparent;
    height: 3rem;
    width: 10rem;
    box-shadow: #C68B10;
}

.myactive{
    background: rgba(248, 248, 248, 0.7);
    color: #6065ae;

}

.cuadro{
    color: white;
    margin-left: 8%;
    margin-right: 8%;
    padding: 10%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    text-align: center;
}
